* {
  background: rgb(2,0,36);
  color: white;
  background: linear-gradient(90deg, rgb(116, 110, 232) 0%, rgba(9,9,121,1) 35%, rgba(7,56,152,1) 50%, rgba(0,212,255,1) 100%);
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  /* background-color: #666; */
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

/* Create two columns/boxes that floats next to each other */


/* Style the list inside the menu */
nav ul {
  /* center the bar like in the middle of the page */
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  color: white;
  
}


